# ============================================
# OS & Editor
# ============================================
.DS_Store
Thumbs.db
*.log

/.idea
/.vscode
/.fleet
/.zed

phpunit.result.cache
.phpunit.result.cache
.phpactor.json

# ============================================
# Environment Files
# ============================================
.env
.env.*
!.env.example
Homestead.json
Homestead.yaml
auth.json

# ============================================
# Laravel / Backend
# ============================================
/vendor
/storage/*.key
/storage/pail
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views

# ============================================
# Node / Frontend
# ============================================
/node_modules
/public/build
/public/hot
/public/storage

# ============================================
# Custom Ignore (SIMANTIC PROJECT)
# ============================================
# Jangan push folder mobile
/mobile/

# Jika folder mobile ada di dalam frontend
# /frontend/mobile/
